<div class="pg" id="page-dre">
    <div class="sh"><div class="st">DRE Gerencial</div><span class="sb2" id="dre-b">Total</span></div>
    <div class="dw" id="dre-body"></div>
    <div style="margin-top:16px">
      <div class="st" style="margin-bottom:10px;font-size:13px">Lançar despesas adicionais</div>
      <div class="dg">
        <div class="dbox"><div class="dlb">Embalagens / Insumos</div><div class="drow"><span class="dpfx">R$</span><input class="dinp" id="d-e" type="number" placeholder="0,00"></div></div>
        <div class="dbox"><div class="dlb">Plataformas / SaaS</div><div class="drow"><span class="dpfx">R$</span><input class="dinp" id="d-s" type="number" placeholder="0,00"></div></div>
        <div class="dbox"><div class="dlb">Outras despesas</div><div class="drow"><span class="dpfx">R$</span><input class="dinp" id="d-o" type="number" placeholder="0,00"></div></div>
      </div>
      <button class="cbtn" onclick="rc()">Recalcular DRE</button>
    </div>
  </div>
